@charset "UTF-8";
/*
––––––––––––––––––––––––––––––––––––––––––––––––––
Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- 1. Common Styles & Initials
- 2. Countdown
- 3. Portfolio
- 4. Map
- 5. Contact
- 6. Demo
- 7. Counters
- 8. Owl carousel - testimonial
- 9. Parallax
- 10. Responsive
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/*
––––––––––––––––––––––––––––––––––––––––––––––––––
1. Common Styles & Initials
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  overflow-x: hidden; 
  overflow-y: hidden;}

::-webkit-scrollbar {
  display: none; }

@media (min-width: 1200px) and (max-width: 2000px) {
  .container {
    width: 80%; } }
@media (min-width: 2001px) {
  .container {
    width: 1400px; } }
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  color: #3b434a; }

.background_page {
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: calc(100vh + 110px); }

p {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

a {
  color: inherit;
  text-decoration: none !important; }

a:focus {
  outline: none;
  box-shadow: none; }

/*Buttons*/
.btn {
  border-radius: 150px;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.btn-big {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.btn:hover {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.btn-white {
  border: solid 2px #fff;
  background: transparent;
  color: #fff; }

.btn-white:hover {
  border: solid 2px #fff;
  background: #fff;
  color: #3b434a !important; }

.btn-dark {
  border: solid 2px #000;
  background: transparent;
  color: #3b434a; }

.btn-dark:hover {
  border: solid 2px #000;
  background: #000;
  color: #fff !important; }

.btn-color {
  border: solid 2px;
  background: transparent; }

.btn-color:hover {
  border: solid 2px;
  color: #fff; }

.heading_big {
  font-size: 124px;
  line-height: 124px;
  letter-spacing: 4px; }

.heading_46 {
  font-size: 46px;
  line-height: 1.5;
  letter-spacing: 2px; }

.heading_42 {
  font-size: 42px;
  line-height: 1.5; }

.heading_24 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1px; }

.heading_18 {
  font-size: 18px;
  line-height: 1.5; }

.font_light {
  font-weight: 200; }

.font_bold {
  font-weight: 700; }

.font_normal {
  text-transform: inherit !important; }

.accent {
  display: inline-block;
  position: relative; }
  .accent::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff; }

.color_white {
  color: #fff !important; }

.color_black {
  color: #111215 !important; }

.color_grey {
  color: #f7f7f7 !important; }

.color_grey2 {
  color: #aeb9c1 !important; }

.color_grey3 {
  color: #757575 !important; }

.color_blue {
  color: #5B8EFB !important; }

.color_blue2 {
  color: #0b102a !important; }

.color_red {
  color: #f9223e !important; }

.color_green {
  color: #23c77b !important; }

.color_purple {
  color: #8b41c4 !important; }

.color_purple2 {
  color: #642f8d !important; }

.color_purple3 {
  color: #200838 !important; }

.color_yellow {
  color: #ffcc00 !important; }

.color_green {
  color: #23c77b !important; }

.color_pink {
  color: #ff3366 !important; }

.color_purple_blue {
  background-image: linear-gradient(to right top, #8b41c4, #5B8EFB) !important;
  color: transparent !important;
  -webkit-background-clip: text; }

.color_red_purple {
  background-image: linear-gradient(to right top, #f9223e, #8b41c4) !important;
  color: transparent !important;
  -webkit-background-clip: text; }

.color_red_blue {
  background-image: linear-gradient(to right top, #f9223e, #5B8EFB) !important;
  color: transparent !important;
  -webkit-background-clip: text; }

.color_purple_purple3 {
  background-image: linear-gradient(to right top, #8b41c4, #200838) !important;
  color: transparent !important;
  -webkit-background-clip: text; }

.color_green_blue {
  background-image: linear-gradient(to right top, #23c77b, #5B8EFB) !important;
  color: transparent !important;
  -webkit-background-clip: text; }

.background_white {
  background: #fff !important; }

.background_blue2 {
  background: #0b102a !important; }

.background_green {
  background: #23c77b !important; }

.background_yellow {
  background: #ffcc00 !important; }

.background_blue {
  background: #5B8EFB !important; }
  .background_blue.btn:hover {
    background: #0b102a !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_red {
  background: #f9223e !important; }
  .background_red.btn:hover {
    background: #d21d34 !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_green {
  background: #23c77b !important; }
  .background_green.btn:hover {
    background: #157a4b !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_purple {
  background: #8b41c4 !important; }
  .background_purple.btn:hover {
    background: #642f8d !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_purple2 {
  background: #642f8d !important; }
  .background_purple2.btn:hover {
    background: #200838 !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_purple3 {
  background: #200838 !important; }
  .background_purple3.btn:hover {
    background: #642f8d !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_purple_blue {
  background: linear-gradient(to right top, #8b41c4, #5B8EFB) !important; }
  .background_purple_blue.btn:hover {
    background: linear-gradient(to right top, #642f8d, #0b102a) !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_red_purple {
  background: linear-gradient(to right top, #f9223e, #8b41c4) !important; }
  .background_red_purple.btn:hover {
    background: linear-gradient(to right top, #d21d34, #642f8d) !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_red_blue {
  background: linear-gradient(to right top, #f9223e, #5B8EFB) !important; }
  .background_red_blue.btn:hover {
    background: linear-gradient(to right top, #d21d34, #0b102a) !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_purple_purple3 {
  background: linear-gradient(to right top, #642f8d, #200838) !important; }
  .background_purple_purple3.btn:hover {
    background: linear-gradient(to right top, #200838, #200838) !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

.background_green_blue {
  background: linear-gradient(to right top, #23c77b, #5B8EFB) !important; }
  .background_green_blue.btn:hover {
    background: linear-gradient(to right top, #157a4b, #0b102a) !important;
    box-shadow: 0 5px 55px -5px #0e0e0e;
    transition: 0.5s; }

hr {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: 0;
  border-top: 1px solid #f7f7f7;
  width: 100%;
  display: inline-block; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.space {
  width: 100%;
  height: 5vh;
  display: inline-flex; }

.space2 {
  width: 100%;
  height: 10vh;
  display: inline-flex; }

.navbar {
  margin: 0;
  height: 100px; }
  .navbar ul {
    display: inline-flex; }
    .navbar ul li {
      height: 30px;
      margin: 35px 10px; }
      .navbar ul li a {
        color: #fff;
        letter-spacing: 1px;
        transition: 0.5s; }
        .navbar ul li a:hover {
          opacity: 0.5;
          transition: 0.5s; }

.brand {
  float: left;
  height: 30px;
  margin: 35px 0; }
  .brand img {
    width: auto;
    height: 100%; }

.content.page {
  margin-top: 0;
  padding: 100px 20% 0;
  height: 100vh; }

.subscribe {
  position: relative;
  z-index: 99; }
  .subscribe .controls {
    display: inline-flex; }
  .subscribe input {
    border: none;
    border-radius: 150px;
    box-shadow: 0 0 50px -15px #111215;
    line-height: 45px;
    height: 45px;
    width: 300px;
    background: #fff;
    color: #0e0e0e;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    transform: translateX(0);
    font-size: 12px;
    font-weight: lighter;
    font-style: italic; }
    .subscribe input:focus {
      box-shadow: 0 0 50px -5px #111215; }
  .subscribe .submit {
    font-size: 14px;
    transition: all 0.1s, transform 0s 0.6s;
    padding: 0 35px;
    border: none;
    background: #ff3366;
    color: #fff;
    border-radius: 150px;
    box-shadow: 0 0 50px -15px #0e0e0e;
    line-height: 45px;
    height: 45px;
    letter-spacing: 1px;
    margin-left: 15px; }
  .subscribe label {
    width: 100%;
    margin-bottom: 20px;
    text-transform: none;
    font-weight: 300; }

.social_list {
  padding: 25px 0; }
  .social_list a {
    color: #fff; }

.copyright {
  font-size: 12px;
  color: #fff;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.5); }

footer {
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  text-align: center;
  background: #313131; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to right, rgba(17, 24, 60, 0.9), rgba(17, 24, 60, 0.5)); }

.page {
  min-height: calc(100vh - 100px);
  width: 100%;
  padding: 5% 0;
  margin-top: 100px;
  display: inline-block; }

.services_list {
  margin-top: 5%; }
  .services_list li {
    padding: 5%;
    margin-bottom: 20%;
    transition: 0.5s ease all; }
    .services_list li:hover {
      transition: 0.5s ease all;
      background: #d7d7d7; }
  .services_list img {
    height: 75px;
    margin-bottom: 25px; }
  .services_list p {
    color: #ff3366; }
  .services_list span {
    display: block; }

.header {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%; }

.wrapper {
  overflow: hidden; }
  .wrapper::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 1s ease all; }
  .wrapper.on::before {
    opacity: 1;
    visibility: visible;
    transition: 1s ease all; }

.vertical_middle {
  display: table-cell;
  vertical-align: middle; }

.content {
  display: table;
  margin: 0;
  position: relative; }

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

@keyframes border_tab {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.tab .nav-tabs > li.active > a, .tab .nav-tabs > li.active > a:focus, .tab .nav-tabs > li.active > a:hover {
  color: #ff3366; }
  .tab .nav-tabs > li.active > a::before, .tab .nav-tabs > li.active > a:focus::before, .tab .nav-tabs > li.active > a:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff3366;
    animation: border_tab 0.5s; }
.tab .nav-tabs li:first-child a {
  padding-left: 0; }
.tab .nav-tabs li a {
  position: relative;
  color: #3b434a;
  border: none;
  font-weight: 700; }
  .tab .nav-tabs li a:hover, .tab .nav-tabs li a:focus {
    background: none;
    border: none; }
.tab .tab-content .tab-pane {
  padding-top: 25px; }
  .tab .tab-content .tab-pane ul {
    margin: 15px 25px; }

.clients {
  padding: 0 5%; }
  .clients img {
    filter: grayscale(50%) brightness(0.8); }

@keyframes border_tab {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.progress {
  height: 5px;
  background: #f7f7f7;
  margin-bottom: 25px; }

.progress-bar {
  background: #ff3366; }

.loader-bg {
  width: 100vw;
  height: 100vh;
  background: #0b102a;
  position: fixed;
  z-index: 9999; }

.loader {
  display: inline-block;
  width: 300px;
  height: 300px;
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px); }
  .loader .loader-circles {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    width: 125px;
    height: 125px; }
    .loader .loader-circles .circle {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      background-color: transparent;
      border: 2.5px solid #fff;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-right-color: transparent;
      text-align: center; }
      .loader .loader-circles .circle:nth-child(even) {
        border-color: #fff;
        opacity: 0.25;
        border-bottom-color: transparent;
        border-right-color: transparent; }
      .loader .loader-circles .circle:nth-child(odd) {
        border-color: #fff;
        border-bottom-color: transparent;
        border-right-color: transparent; }
      .loader .loader-circles .circle:nth-child(1) {
        width: 12.5px;
        height: 12.5px;
        animation: rotate-circle linear infinite;
        animation-duration: 12s; }
      .loader .loader-circles .circle:nth-child(2) {
        width: 25px;
        height: 25px;
        animation: rotate-circle linear infinite;
        animation-duration: 6s; }
      .loader .loader-circles .circle:nth-child(3) {
        width: 37.5px;
        height: 37.5px;
        animation: rotate-circle linear infinite;
        animation-duration: 4s; }
      .loader .loader-circles .circle:nth-child(4) {
        width: 50px;
        height: 50px;
        animation: rotate-circle linear infinite;
        animation-duration: 3s; }
      .loader .loader-circles .circle:nth-child(5) {
        width: 62.5px;
        height: 62.5px;
        animation: rotate-circle linear infinite;
        animation-duration: 2.4s; }
      .loader .loader-circles .circle:nth-child(6) {
        width: 75px;
        height: 75px;
        animation: rotate-circle linear infinite;
        animation-duration: 2s; }
      .loader .loader-circles .circle:nth-child(7) {
        width: 87.5px;
        height: 87.5px;
        animation: rotate-circle linear infinite;
        animation-duration: 1.71429s; }
      .loader .loader-circles .circle:nth-child(8) {
        width: 100px;
        height: 100px;
        animation: rotate-circle linear infinite;
        animation-duration: 1.5s; }
      .loader .loader-circles .circle:nth-child(9) {
        width: 112.5px;
        height: 112.5px;
        animation: rotate-circle linear infinite;
        animation-duration: 1.33333s; }
      .loader .loader-circles .circle:nth-child(10) {
        width: 125px;
        height: 125px;
        animation: rotate-circle linear infinite;
        animation-duration: 1.2s; }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 3px; }

.countdown {
  width: 100%; }
  .countdown ul#countdown {
    padding: 0; }
    .countdown ul#countdown li {
      display: inline-block;
      margin: 0 3% 0 0;
      padding: 0; }
      .countdown ul#countdown li span {
        position: relative;
        text-transform: none; }
      .countdown ul#countdown li:last-child {
        margin: 0; }

.portfolio-filters {
  position: relative; }
  .portfolio-filters ul li {
    padding: 0; }
    .portfolio-filters ul li a {
      position: relative;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.3s ease;
      color: #9a9a9a;
      padding: 0;
      margin: 0 15px; }
      .portfolio-filters ul li a.active {
        color: #ff3366; }
        .portfolio-filters ul li a.active::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: #ff3366;
          animation: border_tab 0.5s; }
      .portfolio-filters ul li a:hover {
        color: #ff3366;
        transition: all 0.3s ease; }
    .portfolio-filters ul li:first-child a {
      margin-left: 0; }

.portfolio {
  position: relative; }
  .portfolio .portfolio-item,
  .portfolio .portfolio-sizer {
    width: calc(100% / 4); }
  .portfolio .portfolio-item {
    float: left;
    height: 250px; }
    .portfolio .portfolio-item img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      transition: 0.3s; }
  .portfolio .portfolio-item--width2 {
    width: calc(100% / 4 * 2); }
  .portfolio .portfolio-item.portfolio-item--height2 {
    height: 500px; }
    .portfolio .portfolio-item.portfolio-item--height2 img {
      height: 500px; }

.lightbox-gallery a .project-image {
  background: #0b102a;
  transition: 0.3s;
  display: inline-flex; }
.lightbox-gallery a:hover {
  cursor: url("../img/cursor-plus.gif") 40 40, auto; }
  .lightbox-gallery a:hover img {
    opacity: 0.25;
    transition: 0.3s; }

#google-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #e7eaf0; }

@media only screen and (min-width: 768px) {
  #google-container {
    height: 300px; } }
@media only screen and (min-width: 1170px) {
  #google-container {
    height: 300px; } }
#cd-google-map {
  position: relative; }

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ff3366;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg"); }

.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: #ff3366; }

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px; }

@media only screen and (min-width: 768px) {
  #cd-zoom-in {
    margin-top: 5px; } }
#cd-zoom-out {
  background-position: 50% -32px; }

#contact .social_list a {color: #3b434a;}

#contact-form {
  margin-top: 5%; }
  #contact-form .form-group .form-control {
    border: solid #aeb9c1;
    border-width: 0 0 1px 0;
    border-radius: 0;
    box-shadow: none;
    line-height: 50px;
    height: 50px;
    width: 100%;
    background: none;
    color: #444444;
    background: transparent;
    display: block;
    margin: 5% 0 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transform: translateX(0);
    font-weight: lighter;
    font-style: italic; }
  #contact-form .form-group textarea {
    min-height: 150px !important;
    resize: none; }
  #contact-form .btn-send {
    font-size: 14px;
    height: 40px;
    transition: all 0.1s, transform 0s 0.6s;
    line-height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 50px;
    background: #ff3366;
    color: #fff;
    margin-top: 3%;
    letter-spacing: 0; }

.contact_info {
  margin-top: 10%;
  color: #9a9a9a; }
  .contact_info li {
    position: relative;
    margin-bottom: 25px;
    line-height: 32px;
    font-style: italic; }
    .contact_info li img {
      height: 24px;
      margin-right: 10px;
      float: left; }

.particles_1 .background_page {
  background-image: url("../images/m1.jpg"); }
.particles_1 .overlay {
  position: fixed; }

.particles_1_1 .background_page {
  background-image: url("../images/m1.jpg"); }
.particles_1_1 .overlay {
  position: fixed; }
.particles_1_1 .content {
  padding-left: 10% !important;
  padding-right: 18% !important;
  padding-top: 100px !important;
  width: 80%;
  height: 100vh; }

.particles_2 .background_page {
  background-image: url("../img3/m5.jpg"); }
.particles_2 .overlay {
  position: fixed; }

.particles_2_1 .background_page {
  background-image: url("../img3/m5.jpg"); }
.particles_2_1 .overlay {
  position: fixed; }
.particles_2_1 .content {
  padding-left: 10% !important;
  padding-right: 18% !important;
  padding-top: 100px !important;
  width: 80%;
  height: 100vh; }

.particles_3 .background_page {
  background-image: url("../img2/firstsreen.jpg"); }
.particles_3 .overlay {
  position: fixed;
  background: none; }
.particles_3 .tab .nav-tabs > li.active > a, .particles_3 .tab .nav-tabs > li.active > a:focus, .particles_3 .tab .nav-tabs > li.active > a:hover,
.particles_3 .services_list p,
.particles_3 .portfolio-filters ul li a.active {
  color: #5B8EFB; }
.particles_3 .owl-carousel .accent::before,
.particles_3 .counters .counter:nth-child(1),
.particles_3 .portfolio-filters ul li a.active::before,
.particles_3 #contact-form .btn-send,
.particles_3 .owl-carousel .owl-dots .owl-dot.active span, .particles_3 .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.particles_3 .tab .nav-tabs > li.active > a::before, .particles_3 .tab .nav-tabs > li.active > a:focus::before, .particles_3 .tab .nav-tabs > li.active > a:hover::before {
  background: #5B8EFB; }
.particles_3 #cd-zoom-in, .particles_3 #cd-zoom-out {
  background-color: #5B8EFB; }

.particles_3_1 .background_page {
  background-image: url("../img2/firstsreen.jpg"); }
.particles_3_1 .overlay {
  position: fixed;
  background: none; }
.particles_3_1 .content {
  padding-left: 10% !important;
  padding-right: 5% !important;
  padding-top: 100px !important;
  width: 80%;
  height: 100vh; }
.particles_3_1 .tab .nav-tabs > li.active > a, .particles_3_1 .tab .nav-tabs > li.active > a:focus, .particles_3_1 .tab .nav-tabs > li.active > a:hover,
.particles_3_1 .services_list p,
.particles_3_1 .portfolio-filters ul li a.active {
  color: #5B8EFB; }
.particles_3_1 .owl-carousel .accent::before,
.particles_3_1 .counters .counter:nth-child(1),
.particles_3_1 .portfolio-filters ul li a.active::before,
.particles_3_1 #contact-form .btn-send,
.particles_3_1 .owl-carousel .owl-dots .owl-dot.active span, .particles_3_1 .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.particles_3_1 .tab .nav-tabs > li.active > a::before, .particles_3_1 .tab .nav-tabs > li.active > a:focus::before, .particles_3_1 .tab .nav-tabs > li.active > a:hover::before {
  background: #5B8EFB; }
.particles_3_1 #cd-zoom-in, .particles_3_1 #cd-zoom-out {
  background-color: #5B8EFB; }

.index_1 .background_page {
  background-image: url("../img3/m4.jpg"); }
.index_1 .overlay {
  position: fixed; }

.index_1_1 .background_page {
  background-image: url("../img3/m4.jpg"); }
.index_1_1 .content {
  padding-left: 10% !important;
  padding-right: 18% !important;
  width: 80%; }
.index_1_1 .overlay {
  position: fixed; }

.index_2 .background_page {
  background-image: url("../img3/m6.jpg"); }
.index_2 .overlay {
  position: fixed;
  background: linear-gradient(to right, rgba(15, 22, 57, 0.75), rgba(15, 22, 57, 0.5), rgba(15, 22, 57, 0.25), rgba(25, 35, 92, 0.25)); }
.index_2 .content {
  padding-left: 10% !important;
  padding-right: 5% !important;
  padding-top: 100px !important;
  width: 60vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(15, 22, 57, 0.95), rgba(15, 22, 57, 0.75), rgba(15, 22, 57, 0.5));
  margin: 0;
  position: relative;
  display: table; }
.index_2 .tab .nav-tabs > li.active > a, .index_2 .tab .nav-tabs > li.active > a:focus, .index_2 .tab .nav-tabs > li.active > a:hover,
.index_2 .services_list p,
.index_2 .portfolio-filters ul li a.active {
  color: #23c77b; }
.index_2 .owl-carousel .accent::before,
.index_2 .counters .counter:nth-child(1),
.index_2 .portfolio-filters ul li a.active::before,
.index_2 #contact-form .btn-send,
.index_2 .owl-carousel .owl-dots .owl-dot.active span, .index_2 .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.index_2 .tab .nav-tabs > li.active > a::before, .index_2 .tab .nav-tabs > li.active > a:focus::before, .index_2 .tab .nav-tabs > li.active > a:hover::before {
  background: #23c77b; }
.index_2 #cd-zoom-in, .index_2 #cd-zoom-out {
  background-color: #23c77b; }

.index_2_1 .background_page {
  background-image: url("../img3/m6.jpg"); }
.index_2_1 .overlay {
  position: fixed;
  background: linear-gradient(to right, rgba(15, 22, 57, 0.75), rgba(15, 22, 57, 0.5), rgba(15, 22, 57, 0.25), rgba(25, 35, 92, 0.25)); }
.index_2_1 .content {
  padding-right: 5% !important;
  padding-top: 100px !important;
  width: 60vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(15, 22, 57, 0.95), rgba(15, 22, 57, 0.75), rgba(15, 22, 57, 0.5));
  padding-left: 10% !important; }
.index_2_1 .tab .nav-tabs > li.active > a, .index_2_1 .tab .nav-tabs > li.active > a:focus, .index_2_1 .tab .nav-tabs > li.active > a:hover,
.index_2_1 .services_list p,
.index_2_1 .portfolio-filters ul li a.active {
  color: #23c77b; }
.index_2_1 .owl-carousel .accent::before,
.index_2_1 .counters .counter:nth-child(1),
.index_2_1 .portfolio-filters ul li a.active::before,
.index_2_1 #contact-form .btn-send,
.index_2_1 .owl-carousel .owl-dots .owl-dot.active span, .index_2_1 .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.index_2_1 .tab .nav-tabs > li.active > a::before, .index_2_1 .tab .nav-tabs > li.active > a:focus::before, .index_2_1 .tab .nav-tabs > li.active > a:hover::before {
  background: #23c77b; }
.index_2_1 #cd-zoom-in, .index_2_1 #cd-zoom-out {
  background-color: #23c77b; }

.index_3 .background_page {
  background-image: url("../img3/m3.jpg"); }
.index_3 .overlay {
  position: fixed;
  background: linear-gradient(to right, rgba(15, 22, 57, 0.95), rgba(15, 22, 57, 0.75), rgba(15, 22, 57, 0.5), rgba(25, 35, 92, 0)); }
.index_3 .content {
  padding-left: 10% !important;
  padding-right: 18% !important;
  padding-top: 100px !important;
  width: 80%;
  height: 100vh; }
.index_3 .tab .nav-tabs > li.active > a, .index_3 .tab .nav-tabs > li.active > a:focus, .index_3 .tab .nav-tabs > li.active > a:hover,
.index_3 .services_list p,
.index_3 .portfolio-filters ul li a.active {
  color: #23c77b; }
.index_3 .owl-carousel .accent::before,
.index_3 .counters .counter:nth-child(1),
.index_3 .portfolio-filters ul li a.active::before,
.index_3 #contact-form .btn-send,
.index_3 .owl-carousel .owl-dots .owl-dot.active span, .index_3 .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.index_3 .tab .nav-tabs > li.active > a::before, .index_3 .tab .nav-tabs > li.active > a:focus::before, .index_3 .tab .nav-tabs > li.active > a:hover::before {
  background: #23c77b; }
.index_3 #cd-zoom-in, .index_3 #cd-zoom-out {
  background-color: #23c77b; }

.index_3_1 .background_page {
  background-image: url("../img3/m3.jpg"); }
.index_3_1 .overlay {
  position: fixed;
  background: linear-gradient(to right, rgba(15, 22, 57, 0.95), rgba(15, 22, 57, 0.75), rgba(15, 22, 57, 0.5), rgba(25, 35, 92, 0)); }
.index_3_1 .content {
  padding-left: 10% !important;
  padding-right: 18% !important;
  padding-top: 100px !important;
  width: 80%;
  height: 100vh; }
.index_3_1 .tab .nav-tabs > li.active > a, .index_3_1 .tab .nav-tabs > li.active > a:focus, .index_3_1 .tab .nav-tabs > li.active > a:hover,
.index_3_1 .services_list p,
.index_3_1 .portfolio-filters ul li a.active {
  color: #23c77b; }
.index_3_1 .owl-carousel .accent::before,
.index_3_1 .counters .counter:nth-child(1),
.index_3_1 .portfolio-filters ul li a.active::before,
.index_3_1 #contact-form .btn-send,
.index_3_1 .owl-carousel .owl-dots .owl-dot.active span, .index_3_1 .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.index_3_1 .tab .nav-tabs > li.active > a::before, .index_3_1 .tab .nav-tabs > li.active > a:focus::before, .index_3_1 .tab .nav-tabs > li.active > a:hover::before {
  background: #23c77b; }
.index_3_1 #cd-zoom-in, .index_3_1 #cd-zoom-out {
  background-color: #23c77b; }

.index_4 .background_page {
  background-image: url("../img2/roar_3-wallpaper-1920x1200.jpg"); }
.index_4 .overlay {
  position: fixed;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), transparent); }

.index_4_1 .background_page {
  background-image: url("../img2/roar_3-wallpaper-1920x1200.jpg"); }
.index_4_1 .overlay {
  position: fixed;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), transparent); }
.index_4_1 .content {
  padding-left: 10% !important;
  padding-right: 18% !important;
  padding-top: 100px !important;
  width: 80%;
  height: 100vh; }

.parallax .background_page {
  background-image: url("../img2/paul-gilmore-211347.jpg"); }
.parallax .overlay {
  position: fixed;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)); }
.parallax .tab .nav-tabs > li.active > a, .parallax .tab .nav-tabs > li.active > a:focus, .parallax .tab .nav-tabs > li.active > a:hover,
.parallax .services_list p,
.parallax .portfolio-filters ul li a.active {
  color: #ffcc00; }
.parallax .owl-carousel .accent::before,
.parallax .counters .counter:nth-child(1),
.parallax .portfolio-filters ul li a.active::before,
.parallax #contact-form .btn-send,
.parallax .owl-carousel .owl-dots .owl-dot.active span, .parallax .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.parallax .tab .nav-tabs > li.active > a::before, .parallax .tab .nav-tabs > li.active > a:focus::before, .parallax .tab .nav-tabs > li.active > a:hover::before {
  background: #ffcc00; }
.parallax #cd-zoom-in, .parallax #cd-zoom-out {
  background-color: #ffcc00; }

.parallax2 .background_page {
  background-image: url("../img2/paul-gilmore-211347.jpg"); }
.parallax2 .heading_46 {
  display: table-cell;
  vertical-align: middle; }
.parallax2 .content {
  padding-left: 10% !important; }
.parallax2 .overlay {
  position: fixed;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75)); }
.parallax2 .scene li:nth-child(2) {
  top: 20vh !important;
  left: 7vw !important; }
.parallax2 .scene li:nth-child(3) {
  top: 80vh !important;
  left: 25vw !important; }
.parallax2 .scene li:nth-child(4) {
  top: 75vh !important;
  left: 80vw !important; }
.parallax2 .scene li:nth-child(5) {
  top: 20vh !important;
  left: 70vw !important; }
.parallax2 .scene li:nth-child(6) {
  top: 45vh !important;
  left: 90vw !important; }
.parallax2 .scene li:nth-child(7) {
  top: 90vh !important;
  left: 10vw !important; }
.parallax2 .scene li:nth-child(8) {
  top: 30vh !important;
  left: 30vw !important; }
.parallax2 .scene li:nth-child(9) {
  top: 15vh !important;
  left: 50vw !important; }
.parallax2 .scene li:nth-child(10) {
  top: 70vh !important;
  left: 50vw !important; }
.parallax2 .tab .nav-tabs > li.active > a, .parallax2 .tab .nav-tabs > li.active > a:focus, .parallax2 .tab .nav-tabs > li.active > a:hover,
.parallax2 .services_list p,
.parallax2 .portfolio-filters ul li a.active {
  color: #ffcc00; }
.parallax2 .owl-carousel .accent::before,
.parallax2 .counters .counter:nth-child(1),
.parallax2 .portfolio-filters ul li a.active::before,
.parallax2 #contact-form .btn-send,
.parallax2 .owl-carousel .owl-dots .owl-dot.active span, .parallax2 .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.parallax2 .tab .nav-tabs > li.active > a::before, .parallax2 .tab .nav-tabs > li.active > a:focus::before, .parallax2 .tab .nav-tabs > li.active > a:hover::before {
  background: #ffcc00; }
.parallax2 #cd-zoom-in, .parallax2 #cd-zoom-out {
  background-color: #ffcc00; }

.smoky .tab .nav-tabs > li.active > a, .smoky .tab .nav-tabs > li.active > a:focus, .smoky .tab .nav-tabs > li.active > a:hover,
.smoky .services_list p,
.smoky .portfolio-filters ul li a.active {
  color: #23c77b; }
.smoky .owl-carousel .accent::before,
.smoky .counters .counter:nth-child(1),
.smoky .portfolio-filters ul li a.active::before,
.smoky #contact-form .btn-send,
.smoky .owl-carousel .owl-dots .owl-dot.active span, .smoky .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.smoky .tab .nav-tabs > li.active > a::before, .smoky .tab .nav-tabs > li.active > a:focus::before, .smoky .tab .nav-tabs > li.active > a:hover::before {
  background: #23c77b; }
.smoky #cd-zoom-in, .smoky #cd-zoom-out {
  background-color: #23c77b; }

.smoky_1 .content {
  padding-left: 10% !important;
  padding-right: 18% !important;
  padding-top: 100px !important;
  width: 80%;
  height: 100vh; }
.smoky_1 .tab .nav-tabs > li.active > a, .smoky_1 .tab .nav-tabs > li.active > a:focus, .smoky_1 .tab .nav-tabs > li.active > a:hover,
.smoky_1 .services_list p,
.smoky_1 .portfolio-filters ul li a.active {
  color: #23c77b; }
.smoky_1 .owl-carousel .accent::before,
.smoky_1 .counters .counter:nth-child(1),
.smoky_1 .portfolio-filters ul li a.active::before,
.smoky_1 #contact-form .btn-send,
.smoky_1 .owl-carousel .owl-dots .owl-dot.active span, .smoky_1 .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
.smoky_1 .tab .nav-tabs > li.active > a::before, .smoky_1 .tab .nav-tabs > li.active > a:focus::before, .smoky_1 .tab .nav-tabs > li.active > a:hover::before {
  background: #23c77b; }
.smoky_1 #cd-zoom-in, .smoky_1 #cd-zoom-out {
  background-color: #23c77b; }

.slideshow .overlay {
  position: fixed;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)); }

.slideshow_1 .content {
  padding-left: 10% !important;
  padding-right: 5% !important;
  padding-top: 100px !important;
  width: 80%;
  height: 100vh; }
.slideshow_1 .overlay {
  position: fixed;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)); }

#canvas-sphere {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.25; }

#canvas-sphere > div {
  display: none; }

#canvas-wave-2 {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000; }

#wavybg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; }

.counters {
  text-align: center;
  display: table;
  padding-top: 0;
  width: 100%; }
  .counters .counter {
    width: 50%;
    padding: 35px 0;
    position: relative;
    transition: 0.5s;
    background: #f7f7f7;
    display: inline-block;
    float: left; }
    .counters .counter:nth-child(1) {
      background: #ff3366;
      color: #fff; }
    .counters .counter:nth-child(2) {
      background: #eee; }
    .counters .counter:nth-child(3) {
      background: #eee; }
    .counters .counter:nth-child(4) {
      background: #e1e1e1; }
  .counters img {
    height: 75px;
    margin: 0 auto 25px; }
  .counters .timer.count-title.count-number {
    line-height: 1;
    font-weight: bold; }

.owl-carousel {
  text-align: center;
  color: #fff;
  background: url("../img/b3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }
  .owl-carousel::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.75; }
  .owl-carousel .owl-content {
    position: relative;
    width: 70%;
    max-width: 1170px;
    margin: 0 auto; }
    .owl-carousel .owl-content p i {
      font-family: serif;
      letter-spacing: 1px; }
  .owl-carousel .owl-nav.disabled + .owl-dots {
    margin-top: -30px;
    z-index: 99999999;
    position: relative; }
  .owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff3366; }
  .owl-carousel .accent::before {
    background: #ff3366; }

.scene {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh; }
  .scene li {
    position: absolute; }
    .scene li:nth-child(2) {
      top: 50vh !important;
      left: 15vw !important; }
    .scene li:nth-child(3) {
      top: 20vh !important;
      left: 10vw !important; }
    .scene li:nth-child(4) {
      top: 80vh !important;
      left: 25vw !important; }
    .scene li:nth-child(5) {
      top: 75vh !important;
      left: 80vw !important; }
    .scene li:nth-child(6) {
      top: 20vh !important;
      left: 80vw !important; }
    .scene li:nth-child(7) {
      top: 45vh !important;
      left: 90vw !important; }
    .scene li:nth-child(8) {
      top: 90vh !important;
      left: 10vw !important; }

/*================================================================
Animation - Move Up and Move Down Letters
================================================================*/
/*================================================================
Move Up
================================================================*/
@keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; } }
@-webkit-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; } }
@-moz-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; } }
@-ms-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; } }
.moveUp {
  animation: moveUp 2s infinite; }

/*================================================================
Move Down
================================================================*/
@keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; } }
@-webkit-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; } }
@-moz-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; } }
@-ms-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in; } }
.moveDown {
  animation: moveDown 2s infinite; }

@media all and (max-width: 991px) {
  .portfolio-filters ul li a {
    padding: 2px 10px;
    margin-left: -10px; }

  .portfolio .portfolio-item,
  .portfolio .portfolio-sizer {
    width: calc(100% / 2); }
  .portfolio .portfolio-item {
    height: 200px; }
    .portfolio .portfolio-item img {
      height: 200px; }
  .portfolio .portfolio-item--width2 {
    width: 100%; }
  .portfolio .portfolio-item.portfolio-item--height2 {
    height: 400px; }
    .portfolio .portfolio-item.portfolio-item--height2 img {
      height: 400px; }

  .heading_big {
    font-size: 55px; }

  .heading_46 {
    font-size: 32px; }

  .heading_42 {
    font-size: 28px; }

  .heading_24 {
    font-size: 24px; }

  .heading_24 {
    font-size: 18px; }

  .heading_18 {
    font-size: 16px; }

  .services_list li {
    padding-bottom: 0;
    margin-bottom: 5%; }

  .space2 {
    height: 5vh; }

  .page {
    width: 100%;
    padding: 0 5%; }
    .page .container {
      width: 100%; }
    .page.content {
      padding-left: 5%;
      padding-right: 5%; }

  .index_3 .content.page, .index_2 .content.page {
    padding-left: 5% !important;
    width: 100%; }
    .index_3 .content.page .subscribe input, .index_2 .content.page .subscribe input {
      margin-left: 0; } }
@media all and (max-width: 767px) {
  body {
    font-size: 12px; }

  .brand {
    width: 100%;
    max-height: 45px; }
    .brand img {
      margin: 0 auto 0 5%; }

  .clients li {
    padding: 0; }

  .navbar-toggle {
    z-index: 9999;
    position: fixed;
    top: 40px;
    right: 10px;
    margin: 0;
    padding: 0; }

  .navbar-toggle .icon-bar {
    background: #fff; }

  .navbar-collapse.in {
    overflow-y: auto;
    background: #0e0e0e; }

  .navbar {
    margin: 0;
    height: 100%;
    text-align: center;
    background: #0e0e0e; }
    .navbar ul {
      display: block; }
      .navbar ul li {
        margin: 10px 0;
        width: 100%; }

  .navbar-collapse {
    background: #0e0e0e; }

  .content.page {
    padding: 100px 5% 0; }

  .subscribe .controls {
    display: block; }

  .subscribe .submit {
    margin: 25px 0 0; }

  .subscribe input {
    width: 250px; }

  .countdown ul li:first-child {
    width: 100%; }

  .portfolio-filters ul li {
    width: 100%;
    margin-bottom: 5px;
    text-align: center; }

  .nav-tabs > li {
    text-align: center;
    width: 100%; }

  .background_page {
    position: fixed; } }
@media all and (min-width: 1600px) {
  body, .subscribe input, #contact-form .form-group .form-control, .contact_info li, .services_list span, .subscribe .submit {
    font-size: 16px; } }
@media all and (min-width: 2200px) {
  body, .subscribe input, #contact-form .form-group .form-control, .contact_info li, .services_list span, .subscribe .submit {
    font-size: 20px; }

  .heading_46 {
    font-size: 65px; }

  .heading_42 {
    font-size: 55px; }

  .heading_24 {
    font-size: 42px; }

  .heading_24 {
    font-size: 30px; }

  .heading_18 {
    font-size: 24px; }

  .content.page {
    width: 1400px;
    margin: 0 auto;
    padding: 0 !important; }

  .index_2 .content, .index_2_1 .content {
    width: 60vw;
    margin: 0;
    padding: 0 5% !important; }

  .index_2 .header .container, .index_2_1 .header .container {
    width: 90%; } }
@media all and (max-width: 1400px) and (min-width: 1199px) and (max-height: 800px) {
  .space {
    height: 3vh; }

  .space2 {
    height: 6vh; } }

/*# sourceMappingURL=style.css.map */
