body{
	background-color: #CEE3F8;
}

.jumbotron{
	background-color: white;
}

.navbar{
	background-color: #EFF7FF;
}

div#title2{
	font-size: 25px;
}

img{
	padding-right: 20px;
    float: left;
}

p#somespace{
	margin-bottom: 20px;
}

ol{
  font-size: 21px;
  font-weight: 200;
}

p#hotfix1{
	font-size:1px;
	color: white;
}